@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');


body {
    background-image: url("tlo-r.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  
  .form {
    position: relative;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.288);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 8px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
    align-items: center;
  }
  
  .box {
    position: relative;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
  }
  .container button {
    margin: 3px;
    margin-top: -10px;
  }
  
  .container {
    display: grid;
    place-items: center;
    height: 100vh;
  }
  
  .container button {
    margin: 3px;
  }
  
  #result.text {
    margin: 3px;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: white;
  }

  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  button {
    border: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    color: #ffff;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
  
  video {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }